{% extends 'base.html' %}
{% block content %}


<div id="wrapper" class="back">
		

        <!-- navbar top -->
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="navbar">
            <!-- navbar-header -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <h2 style="color:white">MAGOWA</h2>
                </a>
            </div>
            <!-- end navbar-header -->
            <!-- navbar-top-links -->
            <ul class="nav navbar-top-links navbar-right" style="margin-top:12px;">
                <!-- main dropdown -->
                

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-3x"></i>
                    </a>
                    <!-- dropdown user-->
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-user fa-fw"></i>User Profile</a>
                        </li>
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i>Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="/task/logout/"><i class="fa fa-sign-out fa-fw"></i>Logout</a>
                        </li>
                    </ul>
                    <!-- end dropdown-user -->
                </li>
                <!-- end main dropdown -->
            </ul>
            <!-- end navbar-top-links -->

        </nav>
        <!-- end navbar top -->

        <!-- navbar side -->
        <nav class="navbar-default navbar-static-side" role="navigation">
            <!-- sidebar-collapse -->
            <div class="sidebar-collapse">
                <!-- side-menu -->
                <ul class="nav newnav" id="side-menu">
                    <li>
                        <!-- user image section-->
                        <div class="user-section">
                            <div class="user-section-inner">
                                <img src="/media/img/user.jpg" alt="">
                            </div>
                            <div class="user-info" >
							{% if user.is_authenticated %}
                                <div><strong>{{ user.username|upper }}</strong></div>
							{% endif %}
                                <div class="user-text-online">
                                    <span class="user-circle-online btn btn-success btn-circle "></span>
                                </div>
                            </div>
                        </div>
                        <!--end user image section-->
						<!--end user image section-->
                    </li>
                    <li class="sidebar-search">
                        <!-- search section-->
                        <div class="input-group custom-search-form">
                            <input type="text" class="form-control" placeholder="Search...">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                        <!--end search section-->
						<!--end search section-->
                    </li>
					
                    <li class="text-center selected" style=":100px;">
                       <a href="/" class="uni" id="" style="border:none;height: 100px; font-size:20px;" >
								<i class="fa fa-dashboard fa-fw"></i>
								<br>
								Invoices
						</a>
						
                    </li>
					<li class="text-center selected" style=":100px;">
                        <a href="/home/customers/" class="uni" id="" style="border:none;height: 100px; font-size:20px;" >
								<i class="fa fa-dashboard fa-fw"></i>
								<br>
								Customer Register
						</a>
						
                    </li>
                   <li class="text-center selected" style=":100px;">
                        <a href="#" class="uni" id="" style="border:none;height: 100px; font-size:20px;" >
								<i class="fa fa-dashboard fa-fw"></i>
								<br>
								Book Future Trips
						</a>
						
                    </li>
                    <li class="text-center selected" style=":100px;">
                       <a href="#" class="uni" id="" style="border:none;height: 100px; font-size:20px;" >
								<i class="fa fa-dashboard fa-fw"></i>
								<br>
								Create Package
						</a>
						
                    </li>

                     
                </ul>
                <!-- end side-menu -->
            </div>
            <!-- end sidebar-collapse -->
        </nav>
        <!-- end navbar side -->
        <!--  page-wrapper -->
        <div id="page-wrapper">

            <div class="row">
                <!-- Page Header -->
                <div class="col-lg-12 heads">
                    <h1 class="page-header pname" >Invoice</h1>
                </div>
				
                <!--End Page Header -->
  </div>
  			<div class="tasks">
				<table class="table">
				 	<tr style="background-color:rgb(83, 163, 163); color:white;">
				 	
					    <th>Invoice No.</th>
					    <th>Name</th> 
					    <th>Pax Name</th>
					    <th>Journy</th>
					    <th></th>
					  </tr>
					  {% for one in invoice_list %}
					  <tr>
					    <td>{{one.invoice_no}}</td>
					    <td>{{one.name}}</td>
					   	<td>{{one.pax_name}}</td>
					    <td>{{one.journy}}</td>
					   <td><input type="button" class="btn btn-info generate" value="Genarate"  style="border-radius:0px;"/><input type="hidden" value="{{one.id}}"></td>
					  </tr>
					  {% endfor %}
				</table>
			</div><input type="hidden" id="project_name" />

 </div>
        <!-- end page-wrapper -->
		


    </div>
	
	{% endblock %}
	
	{% block js %}
	<script>
		$(document).ready(function() {
				var ulheight = $(".newnav").height();
				newulheight = ulheight + 1000;
				$("#page-wrapper").css("height", newulheight+'px');
				$(".addtasks").hide();
				$(".dash").hide();
			    $(".sdate").datetimepicker({format: 'yyyy-mm-dd hh:ii'});
				$(".edate").datetimepicker({format: 'yyyy-mm-dd hh:ii'});


		   $(document).on('click', '.generate', function() {
			   	
			  	var invid = $(this).next().val();

				$.ajax({
						url: "/home/invoice_generate/"+invid,
						type: "GET",
						dataType: 'html',
						success: function(html) {
							$('.tasks').html(html);
							$('.heads').hide()
						},
						error: function() {}
					});
			});

});
	</script>
	
	{% endblock %}